body {
    margin: 0;
    max-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 300px;
}

.reloj {
    border: 1rem solid rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vh;
    font-family: monospace;
    font-size: 3rem;
    color: rgb(0, 0, 0);
}
